%html
  %head
    %title Grading App
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
   
  %body
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    - elsif flash[:notice2]
      #notice2.message= flash[:notice2]
    - elsif flash[:warning2]
      #warning2.message= flash[:warning2]
    = render partial: 'sessions/login'

    #main
      = yield
