%table.center
  %tbody
    %tr
      %td
        = label :student, :name, 'Student Name'
      %td
        = text_field :student, 'name'
    %tr
      %td
        = label :student, :surname, 'Student Surname'
      %td
        = text_field :student, 'surname'
    %tr
      %td
        = label :student, :email, 'Student Email'
      %td    
        = text_field :student, 'email'
    %tr
      %td
        = label :student, :password, 'Student Password'
      %td    
        = password_field :student , 'password'