-# in app/views/courses/show.html.haml
%h2 #{@course.name}

%ul#details
  %li
    Code:
    = @course.code
  %li
    Name:
    = @course.name
  %li
    Semester Offered:
    = @course.semester_offered

%h3 Catalog Data:

%p#description= @course.catalog_data


= link_to 'Edit', edit_course_path(@course)
= button_to 'Delete', course_path(@course), :method => 'delete', :data => {:confirm => 'Are you sure?'} 

'
= link_to 'Show Assessment Items', course_assessmentitems_path(@course)
' | '
= link_to 'Show Students', @id+'/index_students'
' | '
= link_to 'Back to course list', courses_path
'