-# in app/views/sessions/new.html.haml

- provide(:title, 'Login Page')
%h1 Log in
.new
  = form_tag login_path, :method => :post do
    = label :user, :usertype, 'Choose'
    = select :user, :usertype, ['Instructor', 'Student']
   
    = label :user, :email, 'Enter your email'
    = text_field :user, 'email' 
  
    = label :user, :password, 'Enter the password'
    = password_field :user, 'password' 
  
    = submit_tag 'Login'